@font-face{
    font-family:"Bookman", serif, sans-serif;
    font-style:normal;
    font-weight:normal;
    src:url(BookmanOS.ttf)
    
}
@font-face{
    font-family:"Bookman", serif, sans-serif;
    font-style:normal;
    font-weight:bold;
    src:url(BookmanOS.ttf)
    
}
@font-face{
    font-family:"Bookman", serif, sans-serif;
    font-style:italic;
    font-weight:normal;
    src:url(BookmanOS.ttf)
    
}
@font-face{
    font-family:"Bookman", serif, sans-serif;
    font-style:italic;
    font-weight:bold;
    src:url(BookmanOS.ttf)
    
}
body {font-family:"Bookman"}
p,table{font-family:"Bookman"}
li,table.wikitable {font-family:"Bookman";}
h1,h2,h3,h4,h5,h6,h7,h8 {font-family:"Bookman";}
